[2019-02-20 11:52] rakanalh opened #1 "Review code while the PR's branch is checked out"
Thanks for this package! I've been wanting to make something like this for a while.

It would be nice if the package can fetch "upstream" or "origin" (whatever the remote is called) and checkout the branch so that while viewing the diff, the branch is checked out which means i can open the file and see the code around.

[2019-02-20 11:53] rakanalh opened #2 "PR changed files list & clickable filenames"
It would be great if the package can also show the list of files that have been changed. Also the file names / hunks should be clickable to be able to navigate to the file's place of change quickly.

[2019-02-20 11:55] rakanalh opened #3 "Side by side diffs"
Not sure if this one is easy to implement, but i think an interface similar to Github's side-by-side view helps alot for people like myself who like to view the old & new code in a vertical split

[2019-02-22 07:38] charignon commented on #1
Where would the repo be cloned, a temp dir? What do you think would be the ideal experience for that, could you give me more details?

[2019-02-22 07:45] charignon commented on #3
Have you tried https://github.com/mgalgs/diffview-mode? Essentially the review is a `.diff` file and this should work out of the box.

[2019-02-22 08:27] rakanalh commented on #3
Nice! Thank you for that suggestion.

For those looking for the same thing, i've been able to configure it with `scroll-all-mode` as such:
[code]

So triggering `M-x diffview-current` in the diff-file should activate diffview mode with scroll-all & mouse support.

[2019-02-22 08:27] #3 closed

[2019-02-22 08:32] rakanalh commented on #1
I don't think you have to clone any repo.

Assuming that there's a PR from me for this repo: ` git@github.com:rakanalh/greview.git`
Once i submit the PR, you provide the URL for the PR where greview fetches/constructs the remote URL then:
1. Adds a remove `rakanalh-greview` as an example to your git repo
2. `git fetch rakanalh-greview`
3. Then creates the diff between the branch of my PR and your

[2019-02-23 02:31] charignon commented on #1
I understand better, you make the assumption that you have a local copy of the repo without local changes that would prevent a branch change. That isn't always my use-case but I understand how this is fairly common.

We can probably detect the case and run a of command with magit like the one you suggested. Do you want to send a PR to see what that would look like?

I foresee an issue though if we

[2019-02-23 02:35] charignon commented on #2
To investigate this, I would start looking at patch support in magit and see if we can find a minor mode that would give us that kind of capabilities:
- If such feature exists we can enable in the case where the PR belongs to a repo checked out locally already (see https://github.com/charignon/greview/issues/1)
- If it does not exist, I would look at adding it to the magit mode for patches and lev

[2019-02-27 10:22] floscr opened #4 "Deleted files have the header `/dev/null`"
Deleted files seem to have the header `/dev/null`

<img width="215" alt="screen shot 2019-02-27 at 11 21 35" src="https://user-images.githubusercontent.com/1898374/53483473-dded0100-3a81-11e9-8c2f-f31bd22cf76e.png">

[2019-03-02 11:46] parhamdoustdar commented on #1
Can't you use the `forge` package for this? They already have a workflow for checking out a pull request (forge-checkout-pullreq) that covers a variety of weird edge cases.

[2019-03-03 04:25] charignon commented on #4
Thanks for the bug report! I indeed am able to reproduce the issue: when commenting on deleted file content the payload is incorrect. I will write a test and fix it when I get a chance.

[2019-03-03 17:25] parhamdoustdar opened #5 "View Existing Comments on Code lines"
First of all, thank you a lot for this package. The Github code review interface sucks when using a screen reader, but this allows me to use it with Emacs and Emacspeak. Awesomeness!

One problem right now is that I don't see existing comments as I'm reviewing the code. It'd be great to see the existing comments as i'm reading.

[2019-03-03 19:21] #4 closed

[2019-03-03 19:23] charignon commented on #5
That's a great suggestion and I was planning to work on that + the ability to respond to inline comments. I will be taking a look in the coming weeks.

[2019-03-04 08:09] charignon opened #9 "Support replying to inline comments"
It would be nice if `github-review` could support replies to inline comments posted by others.

[2019-03-04 08:10] charignon commented on #5
I started working on a solution (https://github.com/charignon/github-review/pull/10) @parhamdoustdar you can take a look and give feedback if interested.

[2019-03-05 19:20] agzam opened #11 "Integration with magit-forge"
*First of all: Thank you for creating this. I hope this will improve and would allow me to do all PR reviews without ever leaving Emacs.*

I am aware that https://github.com/magit/forge has plans to integrate something like this, I hope this project maybe could become sort of a plugin. In the meantime maybe it would be possible to have minimal integration - one example would be to start a review w

[2019-03-05 19:29] agzam commented on #3
what about ediff? Is there a similar trick to make it work with ediff? Afaik magit when pressed `e` on a diff, opens ediff buffer at that hunk location, maybe something similar would be possible here as well?

[2019-03-05 23:12] jwiegley opened #12 "Would be great to support ediff instead of smerge"

[2019-03-08 13:50] fabrik42 commented on #11
Agree - I really love the idea of this package and it would be great if it could be integrated with magit!

[2019-03-09 18:31] charignon commented on #11
@agzam and @fabrik42 I sent a pull request, feel free to take a look.

[2019-03-09 18:39] charignon opened #14 "Line ending issue in review buffer"
Line endings are inconsistent (mix between CRLF and LF) when displaying review buffer on Linux, which makes it ugly:

![lineendingproblems](https://user-images.githubusercontent.com/634929/54075722-6d02d180-4257-11e9-91db-777d919a250a.png)

I don't know what it looks like on other platforms, feel free to comment if you also observe that behavior and are not using linux. If anyone wants to tackle i

[2019-03-09 18:41] charignon commented on #12
@jwiegley Do you have any advice on how to tackle / structure this?

Thanks!

[2019-03-09 18:43] charignon commented on #1
I added some support for forge in https://github.com/charignon/github-review/pull/13, but it does not seem to be quite what you want. @parhamdoustdar could you give more details about what you suggest?

[2019-03-09 18:43] charignon commented on #5
I will merge #10 after cleaning up the code and fixing bugs and implement comments on code lines in another PR.

[2019-03-09 20:22] jwiegley commented on #12
Looks like what I was thinking of isn't possible without having the files on disk to point ediff at. :(

[2019-03-09 20:22] #12 closed

[2019-03-09 21:03] parhamdoustdar commented on #1
Yes sure. My suggestion was that instead of supporting working with pull requests, either the user or the package could use forge to check out the relevant PR. For example, from this package's point of view, it could work in several ways:

* I provide a link to the PR and github-review calls `forge-checkout-pullreq` to change my local copy (this will probably have to be an opt-in behavior because

[2019-03-09 21:08] parhamdoustdar commented on #11
Hah, I say I'd love this and then I find this issue!

This is, I think, a great place to also check out the relevant pull request if you think it'd make sense.

[2019-03-10 00:11] charignon commented on #11
What do you mean @parhamdoustdar ?

[2019-03-10 08:14] parhamdoustdar commented on #11
Sorry, let me explain.

In issue #1, I was discussing that forge already allows you to check out a pull request. So, instead of github-review checking out a pull request and dealing with all the edge cases that forge deals with already, it can use forge to optionally check out a branch for you, so that you can jump to  the files and review the surrounding code. Perhaps this could be something you

[2019-03-13 13:25] parhamdoustdar opened #15 "Empty Comment Lines When Viewing a PR"
First off, thanks a lot for your great work on fixing #5!

I've enabled the feature already, and I'm trying to review this PR: https://github.com/bookingcom/shipper/pull/70

If you try reviewing that, you'll see a lot of lines like this:

[code]

Strangely, there's also a line like this:

[code]

Maybe this is some sort of a reply, since @icanhazbroccoli is the author and hasn't actually reviewed

[2019-03-16 20:24] charignon commented on #15
1) You found an issue. When someone is submitting a review that is just comments (as opposed to approve and reject), they are not forced to set a top level message. In this PR that's what the people did. That's a workflow that I am not used to seeing and right now that's true that it looks odd when using `github-review`. We can change the behavior to be:
`~ Reviewed by @isutton[COMMENTED]:  Left c

[2019-03-16 20:25] #11 closed

[2019-03-16 21:42] parhamdoustdar commented on #15
* What do you think about filtering those out completely? As in, not mentioning the lines with `@isutton` at the top?
* I double-checked, and I still don't see him reviewing his own PR. Can you check to see if I'm doing this right, just to be sure?

[2019-03-17 02:39] charignon commented on #15
1) Okay, I am fine with doing that, will update the feature.
2) The API claims that he did so, I looked at the response, maybe the reply to comments count as a top level review?

[2019-03-17 07:56] parhamdoustdar commented on #15
* Thanks!
* Yeah, makes sense. Or rather, maybe replying to inline review comments is
also counted as a review if that makes sense. In other words, I think if
you filter out the reviews that don't have a top-level comment, things
would just fall into place.

On Sun, Mar 17, 2019 at 3:39 AM Laurent Charignon <notifications@github.com>
wrote:

[2019-03-17 11:13] yisraeldov opened #16 "Can this work with gitlab ?"
It would be great to be able to use this with gitlab as well.

[2019-03-20 09:35] thegeorgeous opened #17 "Unable to use it with existing github token"
I have an existing token with repo permissions in `~/.authinfo` that I use with forge. However, this github-review seems to be unable to use it and asks if I want to create a new token.

[2019-03-27 07:07] charignon commented on #17
That's the expected behavior, you need to have a token per package that uses ghub. See https://magit.vc/manual/ghub.html#Using-Ghub-in-a-Package

[2019-03-27 07:07] #17 closed

[2019-03-27 07:08] charignon commented on #16
We can work on expanding it, we would have to rename the package though. Is that work you are interested in doing @yisraeldov ? Are you comfortable sending PRs for this?

[2019-03-27 07:22] #14 closed

[2019-03-27 07:33] #15 closed

[2019-03-27 07:34] charignon commented on #9
This is an extension of the work in https://github.com/charignon/github-review/issues/5

[2019-03-31 04:13] yisraeldov commented on #16
Github doesn't send me mails about notifications so I missed this. I don't think I would have the skills or the time,  but I'll happily send a merger request if I do.

[2019-04-05 01:50] matthew-piziak opened #18 "Add reviewers from Emacs"
When I create a pull request from Emacs (personally I like to do `C-c C-n` from `forge`), it would also be nice if I could immediately request reviewers.

Similarly, it would be nice to be able to assign myself to the PR.

[2019-04-06 20:00] charignon commented on #18
Hi, thanks for the feedback! Unfortunately, I don't think that this is in scope for the `github-review` package. The goal of this package is only to provide a way to review code from within emacs. You could suggest it in forge though, that would be great!

[2019-04-06 20:00] #18 closed

[2019-04-06 20:08] matthew-piziak commented on #18
Done, thank you! https://github.com/magit/forge/issues/82

[2019-06-28 00:57] agzam opened #19 "Error talking to GitHub"
On attempt to `github-review-comment`, throws "Error talking to GitHub"

[2019-06-28 01:01] #19 closed

[2019-06-28 01:02] agzam commented on #19
Sorry, about to add something but posted it too prematurely. This isn't a bug.

[2019-06-28 01:18] agzam opened #20 "Its own mode"
Would be nice to have it in its own mode, instead of diff-mode so there's a mode-map etc.

[2019-06-28 01:21] agzam opened #21 "github-review-forge-pr-at-point from forge-topic-mode"
`github-review-forge-pr-at-point` works from magit-status view, but when you're visiting a PR (when you press RET and it opens it in `forge-topic-mode`) it does not work.

[2019-07-06 21:22] zenspider opened #22 "review feedback displayed in reverse order"
See https://github.com/seattlerb/minitest/pull/793 for an example

It would be nice if, on the overview page, the comments read top-to-bottom with what was written up. They seem to submit from top-to-bottom and as such, read upside down (because newest first?).

[2019-07-08 14:25] charignon commented on #22
That's correct, it is a valid issue, feel free to send a PR to fix it, otherwise I can take a look at it in the next month.

[2019-07-08 14:26] charignon commented on #21
Good point, feel free to send a PR to address this, I would be happy to review it.

[2019-07-08 14:27] charignon commented on #20
That would be a great idea, thanks for suggesting it. If anybody wants to work on this, feel free to send pull requests :)

[2019-08-03 17:02] #22 closed

[2019-08-03 17:02] charignon commented on #22
@zenspider let me know if this is still an issue, it should be fixed in the latest version

[2019-08-05 23:49] charignon opened #25 "Submitting review on the zeroth line of a file causes an error"
It should submit a review for the first line instead in that case and not error out.

[2019-08-08 15:50] grischoun commented on #19
I actually have this issue. Any hint on how to solve it?

[2019-08-08 18:26] grischoun commented on #19
Sorry, it actually works on a repo that I fully control. It does not on another repo where I guess I am lacking some rights.

[2019-08-09 09:22] grischoun opened #27 ""Error talking to GitHub""
I receive the "Error talking to GitHub" message when I try to submit a review on a repository where I am given "maintainer" rights.

Notice that when I am testing against a repository that I created and I own, everything works fine.

[2019-08-30 16:40] charignon opened #28 "Improve error message reporting to be more helpful"
Error talking to GitHub isn't an actionable error message, we should instead surface the error message that GitHub's API is sending back in case of error.

[2019-08-30 16:41] charignon commented on #27
Thanks for the bug report! Could you check that you aren't hitting #25 ?
I filed #28 to improve the error messages.

[2019-08-30 16:41] charignon commented on #25
This is fixed on master.

[2019-08-30 16:41] #25 closed

[2019-08-30 16:44] charignon commented on #28
Things to check that lead to "Error talking to GitHub":
- [ ] Forgetting a top level comment when GitHub expects it
- [ ] Reviewing the zeroth line of a file (Mitigated by #25)
- [ ] Submitting a review for a merged or closed PR
- [ ] Not having the rights

All of these cases should lead to descriptive and helpful error messages, they currently don't.

[2019-09-04 11:40] grischoun commented on #27
Thanks for your message.
No I am not hitting #25.

On Fri, Aug 30, 2019 at 6:41 PM Laurent Charignon <notifications@github.com>
wrote:

[2019-11-12 11:19] logc opened #29 "Work with Github Enterprise"
My Magit Forge is configured to work with my company's Github Enterprise. I just created a token for `github-review` and stored it in `~/.authinfo.gpg`, but trying to `github-review-forge-pr-at-point` (when on a Forge PR) sends me into the buffer to interactively create a token on "api.github.com".

[2019-11-20 12:04] symbiont-sam-halliday opened #30 "deleting lines starting with `--` breaks submission"
In Haskell line comments are

[code]

and if a line is removed in a diff it looks like

[code]

which confuses the filename detector logic in `github-review-non-null-filename-hunk-line`

[2019-12-16 04:22] charignon commented on #29
Thanks for the bug report. I will be looking into it in January. If anyone has time to get to it before, feel free to send a PR.

[2019-12-16 04:23] charignon commented on #30
Thank you very much for the bug report! I will be looking into it in January. Feel free to send a PR before that and I would be happy to review it :)

[2019-12-19 05:36] rgrinberg opened #31 "Error when trying to review a non PR."
Put the cursor over a commit and try to review it as a PR. You'll see an ugly error with this stack trace:

[code]

This isn't really a bug, but the error message could be improved I think.

[2020-01-07 07:36] charignon commented on #29
Workaround: with customize, set the value of `github-review-host` to match your GHE api server. We could improve `github-review-forge-pr-at-point` to pass in the api host and bypass the value of `github-review-host`, I will be looking into it later this month.

[2020-01-10 05:16] charignon commented on #16
If someone wants to port this, you probably want to do:
**1) Create and test support for the following gitlab APIs**
- Get MR -> get the comments and summary
- Get MR diff versions -> get the latest version id
- Get MR diff version -> get the diff content
- Approve Merge Request
- Unapprove Merge Request
- List all merge request notes
- Create new merge request note

**2) Abstract away the busines

[2020-01-10 05:17] charignon commented on #31
@rgrinberg could you give me more information on how to repro this issue?

[2020-01-10 05:18] charignon commented on #27
I haven't been able to reproduce, can you give me a step by step way to reproduce this issue?

[2020-01-10 05:22] charignon commented on #21
We can use `(forge-current-topic)` to get the PR in that case and make it work. I will look into it.

[2020-01-10 16:47] agzam commented on #31
So for example if one uses the package like this:

    (use-package github-review
        :ensure t
        :commands magit-status-mode
        :bind (:map magit-status-mode-map
              ("M-r" . github-review-forge-pr-at-point))
        :config
        (setq github-review-fetch-top-level-and-review-comments t))

It binds `M-r` and when pressed, attempts to review anything selected in magit s

[2020-01-11 00:17] syzygyzer commented on #27
I ran into the same issue trying to post a comment, after I had already posted a few successfully to the same repo (I was just testing out functionality). Restarting emacs fixed it for me and I haven't run into it again. Will be back here if it happens in a reproducible fashion.

[2020-01-11 00:20] syzygyzer opened #35 "doom emacs install"
The instructions in the readme say to add:

[code]

to your doom config. I'm running the development branch on emacs 28 and this produced an error for me:

[code]

Henrik (doom maintainer) says to use `:host` instead:

[code]
This fixed the error.

[2020-01-11 21:28] charignon commented on #35
Good point, I will update the instructions. Also it seems that it has been included in doom emacs when you use magit https://github.com/hlissner/doom-emacs/blob/2441b447897e561a29d263e204e5700bf5f920d9/modules/tools/magit/packages.el

[2020-01-11 21:33] #35 closed

[2020-01-11 21:34] charignon commented on #31
Got it, that can definitely be done! I will look into it.

[2020-01-11 21:39] #29 closed

[2020-01-13 04:56] charignon commented on #30
This should be fixed after my PR, feel free to let me know if you can repro @symbiont-sam-halliday

[2020-01-13 07:00] charignon commented on #20
I have been brainstorming on that. We can start with a basic derived version of diff mode and extend with:
- Font-locking for special sections (comments introduced by user, comments that were there before)
  - Delimit successive comments by different users to differentiate them better
- Read-only for all the content that is there before the review (to avoid removing stuff inadvertently)
- A mode m

[2020-02-16 18:46] charignon commented on #30
Feel free to reopen this if it is still an issue

[2020-02-16 18:46] #30 closed

[2020-02-16 18:47] charignon commented on #16
@yisraeldov I am going to take that on in the coming weeks and will update this issue accordingly.

[2020-03-04 08:10] charignon commented on #16
I just looked into it. It seems that everything is straightforward to implement with two caveats:
1) submitting a comment (called notes in Gitlab's verbiage) on a specific line of a diff requires using the graphql API, the rest endpoint only seems to support top level comment
2) diffs are returned by the API in pieces and we would have to rebuild a full diff from what we get from the API.

2 can b

[2020-03-12 02:18] rvl opened #41 "Support diff-goto-source with github-review-forge-pr-at-point"
It would be nice if `diff-goto-source` (`C-c C-c`) worked when this is invoked from `github-review-forge-pr-at-point`. All it needs to do is set the current directory to the git working tree in the `diff-mode` buffer. In many cases it does not matter too much whether the user has the "correct" branch is checked out - it just needs to be close.

[2020-03-12 06:30] charignon commented on #41
That is a great idea, thanks for the suggestion. I will be looking into it when I have time, otherwise feel free to contribute the change if you have the expertise and time @rvl.

[2020-03-13 08:12] rvl commented on #41
I'm not sure whether I have either of those, but once I have used github-review a bit more, I might have a go.

[2020-03-14 05:19] charignon commented on #41
Try this:

[code]
I tried it and it works for me @rvl.
If this works for you we can work on productionizing it.

[2020-03-14 05:47] charignon commented on #41
@parhamdoustdar you may be interested in this feature too

[2020-03-16 01:36] rvl commented on #41
Yes @charignon that patch works great!

[2020-03-25 06:01] charignon commented on #41
I don't quite know when to set the default-directory back to its previous value and if we should even do it. Does anyone know?

[2020-03-25 07:13] rvl commented on #41
In the documentation for default-directory it says that it automatically becomes permanently buffer-local when set. So it's not the global emacs process working directory. I think it should set default-directory to the when setting up the diff buffer.

[2020-06-07 18:52] andrelkin opened #42 "Accept non-PR "plain" commit review"
I wonder why only PR are reviewable by this package?
It would be awesome to have repos/:owner/:repo/commits/:sha-1 covered as well.

Thanks for this wonderful package!

[2020-06-10 07:39] charignon commented on #42
If you get a chance to do it, feel free to send a pull request, I would be happy to review it.

[2020-06-27 07:38] charignon commented on #42
I have a prototype on a branch, can you test it to see how it works for you? If it works fine I will refactor it, add more tests and merge it. @andrelkin https://github.com/charignon/github-review/pull/43 you would use the same entrypoint as for reviewing a PR but it would only submit inline comments and no approval status.

[2020-06-27 07:41] charignon commented on #41
So we could memorize if the user got to the diff buffer from forge and set the default-directory in that case but not change it in any other case. Does that seem right @rvl?

[2020-06-29 08:42] andrelkin commented on #42
@charignon, thank you! You beat me to the patch that I've been also slowly developing (already testing). Sure I'll review and test your work.

As to

you must mean there are 2 PR:s for this issue and I should pick #43 to place my comments in. Sorry I could not get the last sentence though.

Have a wonderful week ahead :-)!

[2020-06-29 15:26] charignon commented on #42
I meant that:
(1) you should call `github-review-start` to start reviewing a commit
(2) you should call either `github-review-approve` or `github-review-comment` or `github-review-reject` to submit a review on a commit, even if they will just comment (there is no concept of rejecting or approving a commit)
(3) when reviewing a commit, `github-review` will only look at inline comments and not top l

[2020-06-29 18:45] andrelkin commented on #42
Thank you for spelling out! Indeed I learned that already while working on my patch version, but how could you know :-). I really appreciate your care!

[2020-06-29 18:47] andrelkin commented on #42
I think it does, I don't see any other option.

[2020-07-09 00:28] yisraeldov commented on #16
@charignon Sorry for not replying.

For me personal, it would be a cool thing to have but I'm not actively going to be using it at the moment.

[2020-07-21 16:34] jtpavlock opened #45 "Re: Configuration - What access does github-review need?"
Referring to https://github.com/charignon/github-review#configuration

What levels of access should I permit on my github token for github-review to work?

[2020-07-23 19:09] charignon commented on #45
I think you need just public_repo and repo status, let me know if that seems to be an issue:

<img width="596" alt="Screen Shot 2020-07-23 at 12 08 30 PM" src="https://user-images.githubusercontent.com/634929/88328418-4541cb80-ccdd-11ea-922d-b66e50294974.png">

[2020-07-23 19:35] jtpavlock commented on #45
Thanks for the response. I ended up just using the same token as magit forge which uses

And got it working, so it's at least those or a subset of those as you suggest 😅

[2020-07-25 08:38] #45 closed

[2020-08-11 19:55] StormFireFox1 opened #46 "Multi-line code comments"
Hello there, thank you for this absolutely amazing package!

Is it even possible to write multip-line code comments. The idea would be to select a segment of the diff and comment on it, kind of how you can do the same on GitHub.

Perhaps this is best left after the mode support, as this functionality could be a shortcut after selecting a part of the diff.

[2020-08-18 10:42] xdvrx1 opened #47 "Create a Website for this Repo"
Hi there.

Is there a website for this repo?

Because if you don't have, well, this repo can simply be turned into a website right away. Others will discover this project in that website.

Steps:
1. Go to Settings and look for `GitHub Pages`, scroll down. That's almost at the bottom.

2. You will see there: `Branch:none`, so you should change that to `master` because you have a `README.md` file in

[2020-08-18 15:10] charignon commented on #47
Hello! Thanks for your interest, the suggestion and the detailed steps :)

There is none, the closer I have of a website for it is the article I wrote originally https://blog.laurentcharignon.com/post/code-review-in-emacs/

I feel like the emacs community discovers packages through blog articles and reddit. This package is mentioned by several blogs including Sacha Chua's and was mentioned on redd

[2020-08-18 15:16] charignon commented on #46
Thanks for the suggestion, it would be a great feature to add and I definitely miss not having that in `github-review`

It would be a lot easier after the mode support indeed! If you are interested in prototyping it, I would love to take a look at what you come up with.

Right now, the package just manipulates text and is very simple which makes it compatible with a broad range of use cases. Addin

[2020-08-18 15:16] xdvrx1 commented on #47
Yup, it really helps because those big companies like Twitter, their Bootstrap project, they have the website solely dedicated for the project and its documentation. Thanks a lot for the response.

[2020-08-21 23:10] xendk opened #49 "Edit comments i gfm-mode"
It would be nice if one could edit comments in gfm-mode (provided by markdown-mode). Then you could leverage markdown-modes support for Github Flavoured Markup.

As multiple modes in the same buffer is tricky, a simple(-ish) solution would be to open an indirect buffer narrowed to the comment in question.

It would require a minor mode for the diff buffer, a new way to mark comments (delimiters ra

[2020-08-22 03:39] charignon opened #51 "Code review is inconsistent if new codes gets pushed while reviewing"
Code review is applied to the latest commit assuming that no code had change since it was fetched. This isn't always the case and we need to fix that assumption otherwise code review may refer to the wrong lines in the diff or fail to submit altogether.

[2020-08-26 14:27] subsetpark commented on #5
Hi @charignon - it looks like this feature is not working for me. I havethe feature flag set to `t` but comments are not loaded. No messages in the buffer. Anything I can do to debug?

[2020-08-28 01:48] charignon commented on #5
Are you sure you are talking about top level comments? (that is comments on the PR body and not the code).
If you don't see comments made on code, that is the expected behavior as this is not yet implemented.

[2020-09-04 18:12] StormFireFox1 commented on #46
Thinking on this for a bit more time, I've realized there could be a simpl method of making multi-line comments manageable, which is to add a check at the beginning of any inline comment to see if it represents a range of lines from the start of the comments, something like:
[code]
I might try this out myself (My Elisp-fu is pretty bad) but if you have a better suggestion, let me know.

[2020-09-04 23:03] #28 closed

[2020-10-04 18:29] charignon opened #56 "Filter ^M characters in diffs"
Example of faulty behavior:

![Screenshot from 2020-10-04 11-29-07](https://user-images.githubusercontent.com/634929/95023949-d82fa800-0634-11eb-8116-66c06dabc79a.png)

[2020-10-04 19:46] charignon opened #58 "Using graphql instead of api v3 for reducing number of network calls"
It would be nice if github-review used graphql instead of api v3 to reduce the data transferred and the number of network call it performs. The only difficulty is for fetching the "diff" itself as it does not seem supported by the graphql endpoint.

[2020-10-11 22:18] #51 closed

[2020-10-11 22:18] charignon commented on #27
Please reopen if you see it again after the fix in #51

[2020-10-11 22:18] #27 closed

[2020-10-11 22:26] #58 closed

[2020-10-11 22:27] #56 closed

[2020-11-14 01:44] sirenko opened #65 "Document the token scope"
FIrst of all, thank you for this amazing package.

Please document what token scopes `github-review` requires.

The `README.md` under [Configuration](https://github.com/charignon/github-review#configuration) says, I quote - `github-review needs a GitHub token to act on your behalf for fetching PRs and submitting reviews. Create a personal access token using GitHub...`. After that the document shou

[2020-11-19 19:47] otavioschwanck opened #66 "Got an error from the GitHub API (wrong-type-argument listp error)! when i try to pull request using forge"
When i try to start an pull request review i got Got an error from the GitHub API (wrong-type-argument listp error)!

[2020-11-20 22:52] #66 closed

[2020-11-23 17:19] otavioschwanck opened #67 "Add syntax highligh for review"
Would be nice to have syntax highlight for the reviewed files.

[2020-12-23 17:46] slackorama opened #68 "docs need clarification (or code needs changing?)"
Maybe it's just my setup at work with github enterprise.

I set my `github-review-host` to `"git.mycompany.com"` but I needed to use `api.git.mycompany.com` in order to get things to work.

Otherwise, it bombed out with an unhelpful `Got an error from the GitHub API (wrong-type-argument stringp nil)!` even though it never sent the request as `ghub--auth` was erroring out.

Actually, maybe there's

[2020-12-27 21:26] charignon commented on #68
You should indeed use the API endpoint in order to get things to work. So you say that if you set `github-review-host` to `api.git.mycompany.com` it makes the request against `git.mycompany.com`?

[2020-12-27 21:28] charignon commented on #67
It comes down to being able to have syntax highlighting in diff mode, I cannot find an example of someone who made that work, would be worth asking on r/emacs on reddit.

[2020-12-27 21:32] charignon commented on #65
Good callout @sirenko. I think you need the `repo` scope as the subscope of repo are not detailed enough to cover the use-cases. If using GitHub enterprise / for business you also need the `write:discussion` `read:discussion` scope. If anyone has any issue with those scope let me know, otherwise I will add them to the readme.

[2020-12-27 21:33] charignon commented on #68
I can definitely add an example to the doc to hint at the fact that one must use `api.git.mycompany.com` and not `git.mycompany.com` but before I want to check that it works well for you (it works for me).

[2020-12-28 19:28] slackorama commented on #68
Thanks!

If I set my host to `api.git.mycompany.com` doing a review/comment from a forge request works without a hitch.

[2021-01-12 11:56] RidaAyed opened #69 "Can only see topmost comment"
Hi

Thank you for that package.

`M-x` `github-review-start` https://github.com/mfg92/hugo-shortcode-gallery/pull/15

I only see the repo's owner top comment

I can **not** see the subsequent comments e.g.

[2021-01-25 00:55] charignon commented on #68
I updated the readme and the docs and will merge the change soon after the tests pass.

[2021-01-25 00:56] charignon commented on #69
Unfortunately, that's the expected behavior for now, only top level comments are displayed, see #5. Contributions are welcome to add this feature.

[2021-02-17 12:03] jakejx commented on #16
Hi there! I am interested in adding support for Phabricator. I was wondering if the code to add Gitlab support was pushed somewhere, so that I could use it as a base. Thanks!

[2021-02-23 17:52] agzam opened #74 "Should start at the beginning of the buffer"
Currently, when it starts and generates diff-buffer, it puts the cursor at the end of the buffer. I think it should start at the top.

[2021-02-23 18:15] agzam commented on #74
Temporarily I put this workaround in my config:

    (defun github-review--after-save-diff (pr-alist diff)
      (let-alist pr-alist
        (with-current-buffer
         (format "%s___%s___%s___%s.diff" .owner .repo .num .sha)
         (goto-line 1))))

    (advice-add 'github-review-save-diff :after 'github-review--after-save-diff)

[2021-03-10 17:15] rgrinberg opened #75 "Outline mode doesn't work with github-review-mode"
`diff-mode`, the parent of github-review-mode supports outline mode to show/hide hunks while inside the buffer. It seems like github-review-mode somehow broke this.

[2021-03-14 09:35] codygman opened #77 "Got an error from the GitHub API (wrong-type-argument stringp nil)!"
I searched and found #68 but I'm not trying it with a github enterprise repo, I'm doing:

[code]

Then I receive:

[code]

I'm pretty sure Github isn't giving elisp errors :wink:

[2021-03-14 09:38] codygman commented on #77
I also tried adding more scopes from #65. I am using emacs 28.0.50 though, so maybe that causes an issue?

[2021-03-14 22:01] charignon commented on #77
That may cause the issue indeed, can you try with all the scopes, just in case? I cannot repro on emacs 27.1

[2021-03-14 22:01] charignon commented on #75
That's not great, thanks for spotting this. I will label the issue, if anyone has time to dig deeper, feel free to do it.

[2021-03-14 22:02] charignon commented on #74
That's a good point, feel free to send me a PR and I will merge it.

[2021-03-14 22:04] #65 closed

[2021-03-15 19:55] Bikashd4332 commented on #77
+1 I tried running`GitHub-review-start` on  GNU Emacs 27.1 and it gave the same exact error.

[2021-03-23 18:29] jperras commented on #77
I am also running into this bug, with GNU Emacs 27.1.91.

[2021-03-26 00:51] charignon commented on #77
This is concerning and I am investigating it now.

[2021-03-26 01:19] jperras commented on #77
@charignon Sure, I'm game. It may be a mitigating factor, but I am using Doom Emacs; happy to help debug/test.

[2021-03-26 01:36] charignon commented on #77
I also tried the latest doom emacs and cannot repro. Sadly the deferred callback mechanism makes it hard to test, I believe that the issue is happening after you hear back from GitHub, let's confirm that.

Step 1) Clone the GitHub-review repo
Step 2) Open the github-review.el file
Step 3) Replace the function github-review-start-internal with the new version:

[code]

Step 4) Evaluate the buffer
S

[2021-03-26 02:42] codygman commented on #77
Hey, thanks for looking into this. Here's my output:

[code]

[2021-03-26 02:48] codygman commented on #77
Hmm... at least for me debugging this with edebug led me to see:

[code]

I checked my `.authinfo` and sure enough it wasn't there... only the forge version. Maybe others are assuming like I must have that the forge version will work? I'm still testing this out to make sure it's working though.

[2021-03-26 02:58] jperras commented on #77
My output:

[code]

[2021-03-26 03:05] jperras commented on #77
For clarification, I *do* have a separate token for `github-review` with the scopes listed in the `README.md`, and this is my (redacted) authinfo:

[code]

[2021-03-26 03:07] codygman commented on #77
@jperras If you want more debug output you like I found you can do this:

1. Call `M-x edebug-set-breakpoint` on the line with `(_ (message "3"))`
2. Call `M-x github-review-start` again
3. It'll bring up the file at that breakpoint
4. Since your in doom you should be able to hit `s` to step through each line.
5. Then check your *messages* buffer for that output and redact anything necessary befor

[2021-03-26 18:09] jperras commented on #77
So, I think I've (partially) solved my problem. Turns out the message that said I didn't have the token in my authinfo was right; my `auth-sources` path was set to only read the `authinfo.gpg` that I have setup, and completely ignored the unencrypted `authinfo` that I was using for testing. They just both so happened to share the same forge token.

Now I am getting the following:

[code]

This is

[2021-04-16 02:50] codygman opened #78 "improve diffs with delta"
I'm not even sure how this would work after glancing over the code but I've been enjoying [magit-delta](https://github.com/dandavison/magit-delta) so thought I'd throw this idea up here.

[2021-05-18 03:31] codygman commented on #5
here is the query to get the nested review comments and code:

[code]

But maybe we could use position or something to put the comment in the right place in the diff? I'm new to the graphql api.

[2021-06-17 23:53] freysteinn commented on #77
I am getting the same issue with GNU Emacs 27.2 when Forge is working fine.
Where you able to figure out what the problem was? Or should I also start going down the debugging hole? ;)

[2021-06-20 17:44] jperras commented on #77
@freysteinn I never did figure out what the problem was - I just ended up not using `github-review` in my process. Let me know if you find anything :)

[2021-09-07 01:59] yqrashawn commented on #2
Also it'll be great if the diff of hunks and files can be toggle between expanded and collapsed

[2021-10-10 21:59] #74 closed

[2021-10-10 22:08] #41 closed

[2021-10-10 22:18] wandersoncferreira commented on #5
Just as a notification, this feature is now in master behind a feature flag. Would be very nice to have user feedbacks, please set `github-review-view-comments-in-code-lines` to `t` and let us know :)

[2021-10-10 23:04] #68 closed

[2021-10-23 08:18] yangchenyun commented on #77
For people have issue with this, `github-review` requires a separate entry in `~/.authinfo`, even if it is the same token.

[code]

[2021-11-15 11:43] stsquad opened #92 "Applying github-review-approve with no comments fails"
I can't quite follow the logic of github-review-submit-review but I can't see it calling either github-review-post-review-replies or github-review-post-review when I haven't added any additional comments and I just want to approve the PR. Some modest instrumenting of the two legs and I see:

[code]

[2021-11-22 09:52] DivineDominion opened #93 "What's the Auth section of the README about?"
It's about this part:

Bluntly, I just don't know what "my auth source files" refers to in this context :)

[2021-12-07 10:05] philjackson opened #94 "Feature request - Magit Delta support"
[Magit Delta](https://github.com/dandavison/magit-delta) is an amazing package that gives you github-style diffs right in your Magit buffers. It would be amazing if github-review rendered sections in such a way that `magit-delta-mode` just worked. :tm:

As an aside - this is a fantastic package, thanks for the work!

[2021-12-07 11:25] philjackson commented on #94
Duplicate of #78

[2021-12-07 11:25] #94 closed, assigned to nobody

[2021-12-09 02:31] jacobpmeyer commented on #93
+1 to this.

[2021-12-09 02:48] jacobpmeyer commented on #77
Didn't have a `~/.authinfo` before and now that I do and have added it, the problem hasn't changed.

[2021-12-09 04:19] jacobpmeyer commented on #77
I am also on doom. I've tried the above, including the `^forge` entry and even went so far to create a new gpg key, encrypt `.authinfo`, and decrypt from doom, as the doom core docs mention not wanting `.authinfo` to be plain text. It didn't effect anything. I still get the error mentioned at the very top. I've also tried editing my .gitconfig and deleting the `[github]` lines. This link was infor

[2021-12-10 13:28] wandersoncferreira commented on #93
I have a conflict of interest now as I am contributing to this package but also developing a new version of this same package https://github.com/wandersoncferreira/code-review which should have this same issue. I added the usual path to the authinfo file here https://github.com/wandersoncferreira/code-review#auth-1

could you try and see if this is enough documentation to make the package work? (e

[2021-12-10 13:39] DivineDominion commented on #93
In the meantime, I got lucky and was tutored excellently by @ilemming on twitter:
https://twitter.com/iLemming/status/1463599279457673220

A segue about the file might indeed be useful in the README.

@wandersoncferreira Your example should be enough to get people going. I noticed the path is only mentioned for GitLab, not GitHub right above.

[2021-12-10 13:49] wandersoncferreira commented on #93
Good point @DivineDominion . I will mention this tweet link too :)

[2021-12-10 13:53] wandersoncferreira commented on #93
https://github.com/wandersoncferreira/code-review#setup let me know.

[2021-12-10 15:46] DivineDominion commented on #93
LGTM 👍

[2022-01-24 08:35] andrelkin opened #95 "graphql seems to require _api.github.com/graphql_ in authinfo"
It all looks ea2f1b4  Use GraphQL API broke authentication for my environment (emacs 28 + ubuntu 18.04).
that was content with documented

   machine api.github.com ...

I did not bisect it but supposedly after the commit I saw an error

which is worked around with appending the path.

[2022-02-28 04:07] shonfeder opened #96 "Readme info about doom-emacs appears to be outdated"
It seems doom-emacs now uses `code-review` with magit by default (since https://github.com/hlissner/doom-emacs/pull/5846). So the readme info seems to need revisions. I killed some time trying to figure out why I couldn't run the functions described.

[2022-08-14 19:25] andrelkin commented on #77
I also had "wrong-type-argument string" error which turned out to be a bug in `github-review-view-comments-in-code-lines-outdated == t` branch of ` (github-review-place-review-comments)`. I've not fixed the branch yet, still to those who are interested an obvious workaround is to set the variable to `nil`.